[Unit]
Description=Allows emulating IotaWatt devices in InfluxDB using Shelly relays

[Service]
EnvironmentFile=/etc/shelly-iotawatt-ct
ExecStart=/usr/bin/node --unhandled-rejections=strict /opt/shelly-iotawatt-ct/shelly-iotawatt-ct.mjs

[Install]
WantedBy=multi-user.target
